/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 23.5%;
    padding: 3px;
}

.column5 {
    float: left;
    width: 18.5%;
    padding: 3px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.row {
    margin-top: 3em !important;
}
